@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Mulish&display=swap");

.hero {
  align-items: center;
  display: flex;
  justify-content: flex-flex-start;
  max-width: 100%;
  padding: 180px 0 0 50px;
}
.hero__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.hero__content__tittle {
  color: var(--white);
  font-size: 7rem;
  line-height: 1.2;
  margin-bottom: 24px;
}
.hero__content__tittle__span {
  font-family: "Arizonia", cursive;
}
.hero__content__subtittle {
  color: var(--white);
  font-size: 34px;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: initial;
  font-weight: 300;
  width: 55%;
  border-left: 2px solid rgba(0, 0, 0, 0.6);
  padding-left: 24px;
}
.hero__content__button_link {
  width: 75%;
  height: 56px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 100;
}
.hero__content__buttons {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 992px) {
  .hero__content__tittle {
    font-size: 5rem;
  }
  .hero__content__subtittle {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    padding: 180px 0 0 0;
  }
  .hero__content {
    align-items: center;
    justify-content: center;
  }
  .hero__content__tittle {
    font-size: 4rem;
  }
  .hero__content__subtittle {
    font-size: 26px;
    width: 75%;
  }
  .hero__content__button_link {
    width: 100%;
    font-size: 14px;
  }
  .hero__content__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
  }
}
@media screen and (max-width: 576px) {
  .hero__content__tittle {
    font-size: 3.2rem;
  }
  .hero__content__subtittle {
    padding-left: 5px;
    text-align: center;
    width: 100%;
    font-size: 24px;
  }
  .hero__content__button_link {
    width: 100%;
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .hero__content__tittle {
    font-size: 2.2rem;
  }
  .hero__content__subtittle {
    font-size: 20px;
  }
}
