.hero {
  align-items: center;
  display: flex;
  justify-content: flex-flex-start;
  max-width: 100%;
  padding: 180px 0 0 50px;
}
.hero__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.hero__content__tittle {
  color: var(--white);
  font-size: 7rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero__content__tittle__b {
  color: var(--primary-color);
}
.hero__content__subtittle {
  color: var(--white);
  font-size: 5.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.hero__content__button_link {
  width: 75%;
  height: 56px;
  background: var(--black);
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .hero__content__tittle {
    font-size: 5rem;
  }
  .hero__content__subtittle {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    padding: 180px 0 0 0;
  }
  .hero__content {
    align-items: center;
    justify-content: center;
  }
  .hero__content__tittle {
    font-size: 4rem;
  }
  .hero__content__subtittle {
    font-size: 3.5rem;
  }
  .hero__content__button_link {
    width: 100%;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .hero__content__tittle {
    font-size: 3.2rem;
  }
  .hero__content__subtittle {
    font-size: 2.2rem;
  }
  .hero__content__button_link {
    width: 75%;
    font-size: 12px;
  }
}
@media (max-width: 420px){
  .hero__content__tittle {
    font-size: 2.2rem;
  }
  .hero__content__subtittle {
    font-size: 1.5rem;
  }
}
