.nav {
  backdrop-filter: blur(5px);
  height: 112px;
  left: 0;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: background-color 0.5s ease-in-out;
}
.nav.home {
  background-color: rgba(202, 173, 146, 0.41);
}
.nav.no-home {
  background-color: rgba(127, 71, 61, 0.95) !important;
}
.nav.scroll {
  background-color: rgba(127, 71, 61, 0.95);
}
.nav__container {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.nav__logo {
  cursor: pointer;
  margin-right: 40px;
}
.nav__logo__img {
  height: auto;
  object-fit: contain;
  width: 250px;
}
.nav__div_responsive {
  display: none;
}
.nav__button_responsive {
  color: var(--white);
  height: auto;
  width: auto;
}
.nav__button_responsive__icon {
  font-size: 24px;
  height: auto;
  width: auto;
}
/* navBar */
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  padding-right: 20px;
}
.navMenu a {
  background-image: linear-gradient(
    to right,
    var(--white),
    var(--white) 50%,
    var(--white) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  color: var(--white);
  font-weight: 300;
  font-size: 22px;
}
.navMenu a.active {
  background-position: 0;
}
.navMenu a.active::before {
  width: 100%;
}
.navMenu a:before {
  content: "";
  background: var(--white);
  display: block;
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 0;
  height: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.navMenu a:hover {
  background-position: 0;
}
.navMenu a:hover::before {
  width: 100%;
}
.nav__logInOut_section__contact {
  color: var(--white);
  display: flex;
}
@media (max-width: 820px) {
  .nav__div_responsive {
    display: block;
  }
  mat-icon {
    font-size: 40px !important;
  }
  .navMenu {
    display: none;
  }
  .nav__logInOut_section__contact {
    display: none;
  }
}
/* sidenav */
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  padding: 20px;
}
