<section class="contact_spam_banner">
    <div class="container">
        <p class="contact_spam_banner__paragraph">
            Disfruta de la naturaleza en nuestra cabaña en Villa Gesell ubicada en la zona norte de la ciudad.
            Habitaciones acogedoras y actividades al aire libre en la zona norte de la ciudad.
        </p>
        <p class="contact_spam_banner__paragraph">¡Haz clic en nuestro botón de contacto y consulta ahora por tu estadía
            en nuestra cabaña!</p>
        <button (click)="openContactDialog()" class="contact_spam_banner__button" mat-fab extended>
            Contáctanos!
        </button>
    </div>
</section>