<div class="card_container">
    <div class="card_container__2">
        <div>
            <div class="card_container__2__text_area">
                <h1 class="card_container__2__text_area__tittle">
                    Donde alojarte en Villa Gesell
                </h1>
                <p class="card_container__2__text_area__paragraph">
                    En inmejorable ubicación del coqueto barrio de punta norte, rodeado de exclusivos complejos
                    habitacionales: Alquila una cabaña Chimay!
                </p>
            </div>
            <mat-card class="card_container__2__card">
                <mat-card-content>
                    <div class="card_container__2__card__content">
                        <div class="card_container__2__card__content__item">
                            <mat-icon>chair</mat-icon>
                            <span>3 Ambientes</span>
                        </div>
                        <div class="card_container__2__card__content__item">
                            <mat-icon>bed</mat-icon>
                            <span>2 Dormitorios</span>
                        </div>
                        <div class="card_container__2__card__content__item">
                            <mat-icon>bed</mat-icon>
                            <span>1 Dormitorio en suite</span>
                        </div>
                        <div class="card_container__2__card__content__item">
                            <mat-icon>bathtub</mat-icon>
                            <span>2 Baños</span>
                        </div>
                        <div class="card_container__2__card__content__item">
                            <mat-icon>people</mat-icon>
                            <span>5 Personas</span>
                        </div>
                        <div class="card_container__2__card__content__item">
                            <mat-icon>directions_car</mat-icon>
                            <span>Cochera Al Aire Libre</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>