<mat-toolbar class="sideNav">
    <a class="nav__logo" routerLink="">
        <img class="nav__logo__img" draggable="false" src="../../../assets/Cabaña-Gesell.png"
            alt="Logo Cabaña Gesell" />
    </a>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleNav()">
        <mat-icon class="close_icon">close</mat-icon>
    </button>

</mat-toolbar>

<mat-nav-list>
    <div class="navMenu" role="list">
        <a (click)="toggleNav()" class="nav__links__link" routerLink="/calendar" routerLinkActive="active">
            <mat-icon mat-list-icon>image</mat-icon>
            <span>Consultar Disponibilidad </span>
        </a>
        <a (click)="toggleNav()" class="nav__links__link" routerLink="/gallery" routerLinkActive="active">
            <mat-icon mat-list-icon>image</mat-icon>
            <span>Galeria</span>
        </a>
        <a (click)="toggleNav()" class="nav__links__link" routerLink="/mapa" routerLinkActive="active">
            <mat-icon mat-list-icon>map</mat-icon>
            <span>Ubicacion</span>
        </a>
        <a (click)="toggleNav()" class="nav__links__link" routerLink="/admin" *ngIf="isLoged()"
            routerLinkActive="active">
            <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
        </a>
        <div class="dot"></div>
    </div>

    <button *ngIf="isLoged()" (click)="logOut()" mat-fab extended class="bg-black">
        <mat-icon>logout</mat-icon>
        logOut
    </button>

</mat-nav-list>