<section class="card_container">
    <mat-card class="card_container__image">
        <mat-card-content class="card">
            <div class="card_container__2__text">
                <p>
                    A tan solo 100mts. del mar, unidades Chimay de tres ambientes en dos plantas de 80M, con dos
                    dormitorios, dos amplios baños y con fondo parquizado junto a independiente parilla deck-solarium.
                    A su vez, cuenta tambien con estacionamiento y alarma monitoreada y caja de seguridad totalmente
                    equipadas.
                </p>
            </div>
            <div class="card_container__2__image">
            </div>
        </mat-card-content>
    </mat-card>

</section>