.carousel {
  margin: 128px 0;
  position: relative;
  z-index: 0;
}
.carousel__line:before {
  background: var(--color-secondary);
  content: "";
  height: 4px;
  left: 35%;
  position: absolute;
  top: 0;
  width: 33.33333%;
}
.button__see_more__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.button__see_more__container button{
  background: var(--secondary-color);
  width: 25%;
}
