<section class="carousel">
  <div class="carousel__line"></div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of images">
      <ng-template carouselSlide [id]="slide.id">
        <img draggable="false" [src]="slide.url" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div class="button__see_more__container">
    <button routerLink="/gallery" mat-fab extended class="bg-black">
      Ver Más
    </button>
  </div>
</section>