@import "node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
@import "node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --background: #e5e5e5;
  --primary-color: #c9ad92;
  --secondary-color: 
  #4C2E2B;
  --text-primary-color: #593311;
  --text-secondary-color: #503826;
}

html,
body {
  height: 100%;
  background-color: var(--background) !important;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

#modal-gallery-wrapper,
ks-modal-gallery {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.mat-mdc-list-item-unscoped-content {
  display: flex !important;
  align-items: center !important;
  padding: 10px !important;
  align-items: center !important;
}
mat-nav-list {
  height: 550px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin: 25px 0 !important;
}
@media screen and (max-width: 560px) {
  .dots-container {
    display: none !important;
  }
}
.owl-next,
.owl-prev {
  background: transparent !important;
  color: var(--black) !important;
  font-size: 20px !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .owl-next,
  .owl-prev {
    font-size: 35px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
